.DS_Store
._*
.env
.venv
.pytest_cache/
__pycache__/
*.py[cod]
*.tsbuildinfo
node_modules
frontend/dist/
frontend/vite.config.js
frontend/vite.config.d.ts
var/
var-test/
models/
.venv-detection/
*.log
